!!!
%html
  %head
    %title kumagi's page
  %body
    %h1 kumagi's page
    hello.
    %a{:href=>"http://www.amazon.co.jp/gp/product/4048679880/ref=as_li_tf_il?ie=UTF8&tag=kumagi-22&linkCode=as2&camp=247&creative=1211&creativeASIN=4048679880"}
      %img{:src=>"http://www.assoc-amazon.jp/e/ir?t=kumagi-22&l=as2&o=9&a=4048679880", :border=>"0", :style=>"border:none !important; margin:0px !important;"}
    goodbye
